[Unit]
Description=smartdeco content update service
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/SmartDeco/service-content
ExecStart=/usr/bin/npm start
Environment="NODE_ENV=production"
Environment="AWS_REGION=us-east-1"
Restart=on-failure
KillSignal=SIGINT
# Tag things in the log
SyslogIdentifier=smartdeco
#StandardOutput=syslog

[Install]
WantedBy=multi-user.target
